In [1]:
!pip install --trusted-host pypi.org --trusted-host pypi.python.org --trusted-host files.pythonhosted.org pyodbc

Requirement already satisfied: pyodbc in c:\users\e150907\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (5.1.0)

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: C:\Users\e150907\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [2]:
import sqlalchemy as db
from sqlalchemy import create_engine
from sqlalchemy import text
import json

In [3]:
user = 'Groupie01'
password = 'Groupie2024!'
host = 'bdsql2016Prod'
port = 1433
database = 'PriceGroup'
 
# PYTHON FUNCTION TO CONNECT TO THE MYSQL DATABASE AND
# RETURN THE SQLACHEMY ENGINE OBJECT
def get_connection():
    return create_engine(
        url="mssql+pyodbc://{0}:{1}@{2}:{3}/{4}?driver=SQL+Server".format(
            user, password, host, port, database
        )
    )

engine = get_connection()

In [84]:


with engine.connect() as connection:
    result = connection.execute(text("SELECT TOP 10 * FROM PriceGroup"))
    for row in result:
        print(row)

('', '00001658', "LOWE'S COMPANIES INC", 'LOWCONW', 21, 'HDGOLD', 1)
('', '00001628', 'ALSIDE SUPPLY', 'ALSSUAK', 26, 'HDGOLD', 1)
('GRANDJCT', '416', 'BUILDERS FIRSTSOURCE', 'BUIFIDE', 306, 'TrxStkDlr 1', 4)
('', '00001658', "LOWE'S COMPANIES INC", 'LOWCONW', 1898, 'HDGOLD', 1)
('', '00001658', "LOWE'S COMPANIES INC", 'LOWCONW', 22, 'HDGOLD', 1)
('LATHROP', '3674', 'ORGILL INC', 'ORGME', 852, '3', 1)
('LATHROP', '00001658', "LOWE'S COMPANIES INC", 'LOWCONW', 1189, '5', 2)
('MILTON', '00004433', 'HOUSE-HASSON HARDWARE', 'HOUHAHKN', 31, '5', 1)
('ORLANDO', '1194', 'ABC SUPPLY COMPANY INC', 'ABCSUBE', 773, '1', 1)
('LATHROP', '00001658', "LOWE'S COMPANIES INC", 'LOWCONW', 1189, 'HomeCtr', 1)

In [96]:
with engine.connect() as connection:
    print(connection.execute(text("SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME='PriceGroup'")).fetchall())

[('branch',), ('cust_key',), ('cust_name',), ('cust_code',), ('seq_num',), ('group_id',), ('ranking_num',)]

In [99]:
with engine.connect() as connection:
    result = connection.execute(text("SELECT * FROM PriceGroup WHERE cust_code = 'OVELUBO' AND seq_num = 1 AND branch='BOISE'"))
    for row in result:
        print(row)

('BOISE', '145', 'OVERLAND LUMBER COMPANY', 'OVELUBO', 1, 'TruStkDlr 1', 4)
('BOISE', '145', 'OVERLAND LUMBER COMPANY', 'OVELUBO', 1, '1', 12)
('BOISE', '145', 'OVERLAND LUMBER COMPANY', 'OVELUBO', 1, 'BrdsLvl#1', 1)
('BOISE', '145', 'OVERLAND LUMBER COMPANY', 'OVELUBO', 1, 'EwpGrp1', 6)
('BOISE', '145', 'OVERLAND LUMBER COMPANY', 'OVELUBO', 1, 'FstnrStkDlr2', 11)
('BOISE', '145', 'OVERLAND LUMBER COMPANY', 'OVELUBO', 1, 'GLB1', 2)
('BOISE', '145', 'OVERLAND LUMBER COMPANY', 'OVELUBO', 1, 'HdePrfDlr 2', 8)
('BOISE', '145', 'OVERLAND LUMBER COMPANY', 'OVELUBO', 1, 'MirTec3', 10)
('BOISE', '145', 'OVERLAND LUMBER COMPANY', 'OVELUBO', 1, 'PolyPrfDlr 2', 3)
('BOISE', '145', 'OVERLAND LUMBER COMPANY', 'OVELUBO', 1, 'SmpPrfDlr 2', 5)
('BOISE', '145', 'OVERLAND LUMBER COMPANY', 'OVELUBO', 1, 'TdtStkDlr 1', 7)
('BOISE', '145', 'OVERLAND LUMBER COMPANY', 'OVELUBO', 1, 'TrxStkDlr 1', 9)

In [22]:
with engine.connect() as connection:
    r = connection.execute(text("SELECT cust_name, cust_code , seq_num FROM PriceGroup WHERE group_id = 'EWPGRP1' AND branch='BOISE'"))
    rows = r.fetchall()
    result = {}
    for index in range(len(rows)):
        result[index] ={'name':rows[index][0],'id':rows[index][1],'shipto':rows[index][2]}
# Convert the list of dictionaries to JSON and print it
    json_result = json.dumps(result)
    print(json_result)

{"0": {"name": "OVERLAND LUMBER COMPANY", "id": "OVELUBO", "shipto": 2}, "1": {"name": "JIM'S LUMBER", "id": "JIMLUMH", "shipto": 1}, "2": {"name": "JIM'S LUMBER", "id": "JIMLUMH", "shipto": 2}, "3": {"name": "OVERLAND LUMBER COMPANY", "id": "OVELUBO", "shipto": 1}, "4": {"name": "QUALITY TRUSS & LUMBER", "id": "QUATRLFI", "shipto": 1}, "5": {"name": "BMC", "id": "BMCBO", "shipto": 203}, "6": {"name": "BMC", "id": "BMCBO", "shipto": 204}, "7": {"name": "KRAMERICA INDUSTRIES OF IDAHO", "id": "KRAINIHA", "shipto": 2}, "8": {"name": "84 LUMBER COMPANY", "id": "EIGFOLEF", "shipto": 1087}, "9": {"name": "MOUNTAIN WEST BUILDING SUPPLY", "id": "MOUWEBEM", "shipto": 1}, "10": {"name": "AC HOUSTON LUMBER C0MPANY", "id": "ACHOLLV", "shipto": 2}, "11": {"name": "DO IT BEST CORPORATION", "id": "DOITBFW", "shipto": 364}, "12": {"name": "LUMBERMENS MERCHANDISING", "id": "LUMMEWA", "shipto": 1306}, "13": {"name": "KRAMERICA INDUSTRIES OF IDAHO", "id": "KRAINIHA", "shipto": 1}}

In [79]:
# import pyodbc

# from sqlalchemy import create_engine

# def creator():
#     config = {
#             'driver': 'SQL Server',
#             'host': 'bdsql2016Prod',
#             'user': 'Groupie01',
#             'pw': 'Groupie2024!',
#             'dbname': 'PriceGroup',
#             'Trusted_Connection':'yes'
#         }
   
#     return pyodbc.connect(
#         "DRIVER={{{driver}}};SERVER={host};DATABASE={dbname};UID={user};PWD={pw};Trusted_Connection={tc}".format(
#             driver=config['driver'],
#             host=config['host'],
#             port=config.get('port',1433),
#             dbname=config['dbname'],
#             user=config['user'],
#             pw=config['pw'],
#             tc=config['Trusted_Connection']
#         )
#     )

# # works
# odbc_conn = creator()

In [10]:
with engine.connect() as connection:
    r = connection.execute(text("SELECT TOP 10 * FROM PriceGroup WHERE group_id = 'EWPGRP1' "))
    rows = r.fetchall()
    result = {}
    for index in range(len(rows)):
        result[index] ={'name':rows[index][0],'id':rows[index][1],'shipto':rows[index][2]}
# Convert the list of dictionaries to JSON and print it
    json_result = json.dumps(result)

print(json_result)

{"0": {"name": "CHICAGO", "id": "3993", "shipto": "LBM ADVANTAGE"}, "1": {"name": "CHICAGO", "id": "49", "shipto": "CLEARY BUILDING CORPORATION"}, "2": {"name": "CHICAGO", "id": "00004899", "shipto": "DALTON LUMBER & SUPPLY INC"}, "3": {"name": "CHICAGO", "id": "00014250", "shipto": "DAN BOONE LLC"}, "4": {"name": "LATHROP", "id": "3989", "shipto": "LUMBERMENS MERCHANDISING"}, "5": {"name": "CHICAGO", "id": "632", "shipto": "DO IT BEST CORPORATION"}, "6": {"name": "", "id": "2439", "shipto": "ALEXANDER LUMBER"}, "7": {"name": "CHICAGO", "id": "2439", "shipto": "ALEXANDER LUMBER"}, "8": {"name": "", "id": "2439", "shipto": "ALEXANDER LUMBER"}, "9": {"name": "", "id": "2439", "shipto": "ALEXANDER LUMBER"}}