In [47]:
!pip install --trusted-host pypi.org --trusted-host pypi.python.org --trusted-host files.pythonhosted.org pyodbc

Collecting pyodbc
  Downloading pyodbc-5.1.0-cp311-cp311-win_amd64.whl.metadata (2.8 kB)
Downloading pyodbc-5.1.0-cp311-cp311-win_amd64.whl (68 kB)
   ---------------------------------------- 0.0/68.7 kB ? eta -:--:--
   ----- ---------------------------------- 10.2/68.7 kB ? eta -:--:--
   ----------- ---------------------------- 20.5/68.7 kB 165.2 kB/s eta 0:00:01
   ----------------------------------- ---- 61.4/68.7 kB 409.6 kB/s eta 0:00:01
   ---------------------------------------- 68.7/68.7 kB 417.9 kB/s eta 0:00:00
Installing collected packages: pyodbc
Successfully installed pyodbc-5.1.0

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: C:\Users\e150907\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [82]:
import sqlalchemy as db
from sqlalchemy import create_engine
from sqlalchemy import text

In [83]:
user = 'Groupie01'
password = 'Groupie2024!'
host = 'bdsql2016Prod'
port = 1433
database = 'PriceGroup'
 
# PYTHON FUNCTION TO CONNECT TO THE MYSQL DATABASE AND
# RETURN THE SQLACHEMY ENGINE OBJECT
def get_connection():
    return create_engine(
        url="mssql+pyodbc://{0}:{1}@{2}:{3}/{4}?driver=SQL+Server".format(
            user, password, host, port, database
        )
    )

engine = get_connection()

In [84]:


with engine.connect() as connection:
    result = connection.execute(text("SELECT TOP 10 * FROM PriceGroup"))
    for row in result:
        print(row)

('', '00001658', "LOWE'S COMPANIES INC", 'LOWCONW', 21, 'HDGOLD', 1)
('', '00001628', 'ALSIDE SUPPLY', 'ALSSUAK', 26, 'HDGOLD', 1)
('GRANDJCT', '416', 'BUILDERS FIRSTSOURCE', 'BUIFIDE', 306, 'TrxStkDlr 1', 4)
('', '00001658', "LOWE'S COMPANIES INC", 'LOWCONW', 1898, 'HDGOLD', 1)
('', '00001658', "LOWE'S COMPANIES INC", 'LOWCONW', 22, 'HDGOLD', 1)
('LATHROP', '3674', 'ORGILL INC', 'ORGME', 852, '3', 1)
('LATHROP', '00001658', "LOWE'S COMPANIES INC", 'LOWCONW', 1189, '5', 2)
('MILTON', '00004433', 'HOUSE-HASSON HARDWARE', 'HOUHAHKN', 31, '5', 1)
('ORLANDO', '1194', 'ABC SUPPLY COMPANY INC', 'ABCSUBE', 773, '1', 1)
('LATHROP', '00001658', "LOWE'S COMPANIES INC", 'LOWCONW', 1189, 'HomeCtr', 1)

In [96]:
with engine.connect() as connection:
    print(connection.execute(text("SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME='PriceGroup'")).fetchall())

[('branch',), ('cust_key',), ('cust_name',), ('cust_code',), ('seq_num',), ('group_id',), ('ranking_num',)]

In [99]:
with engine.connect() as connection:
    result = connection.execute(text("SELECT * FROM PriceGroup WHERE cust_code = 'OVELUBO' AND seq_num = 1 AND branch='BOISE'"))
    for row in result:
        print(row)

('BOISE', '145', 'OVERLAND LUMBER COMPANY', 'OVELUBO', 1, 'TruStkDlr 1', 4)
('BOISE', '145', 'OVERLAND LUMBER COMPANY', 'OVELUBO', 1, '1', 12)
('BOISE', '145', 'OVERLAND LUMBER COMPANY', 'OVELUBO', 1, 'BrdsLvl#1', 1)
('BOISE', '145', 'OVERLAND LUMBER COMPANY', 'OVELUBO', 1, 'EwpGrp1', 6)
('BOISE', '145', 'OVERLAND LUMBER COMPANY', 'OVELUBO', 1, 'FstnrStkDlr2', 11)
('BOISE', '145', 'OVERLAND LUMBER COMPANY', 'OVELUBO', 1, 'GLB1', 2)
('BOISE', '145', 'OVERLAND LUMBER COMPANY', 'OVELUBO', 1, 'HdePrfDlr 2', 8)
('BOISE', '145', 'OVERLAND LUMBER COMPANY', 'OVELUBO', 1, 'MirTec3', 10)
('BOISE', '145', 'OVERLAND LUMBER COMPANY', 'OVELUBO', 1, 'PolyPrfDlr 2', 3)
('BOISE', '145', 'OVERLAND LUMBER COMPANY', 'OVELUBO', 1, 'SmpPrfDlr 2', 5)
('BOISE', '145', 'OVERLAND LUMBER COMPANY', 'OVELUBO', 1, 'TdtStkDlr 1', 7)
('BOISE', '145', 'OVERLAND LUMBER COMPANY', 'OVELUBO', 1, 'TrxStkDlr 1', 9)

In [102]:
with engine.connect() as connection:
    result = connection.execute(text("SELECT * FROM PriceGroup WHERE group_id = 'EWPGRP1' AND branch='BOISE'"))
    for row in result:
        print(row)

('BOISE', '145', 'OVERLAND LUMBER COMPANY', 'OVELUBO', 2, 'EwpGrp1', 3)
('BOISE', '109', "JIM'S LUMBER", 'JIMLUMH', 1, 'EwpGrp1', 15)
('BOISE', '109', "JIM'S LUMBER", 'JIMLUMH', 2, 'EwpGrp1', 11)
('BOISE', '145', 'OVERLAND LUMBER COMPANY', 'OVELUBO', 1, 'EwpGrp1', 6)
('BOISE', '157', 'QUALITY TRUSS & LUMBER', 'QUATRLFI', 1, 'EwpGrp1', 5)
('BOISE', '5', 'BMC', 'BMCBO', 203, 'EwpGrp1', 11)
('BOISE', '5', 'BMC', 'BMCBO', 204, 'EwpGrp1', 12)
('BOISE', '00014120', 'KRAMERICA INDUSTRIES OF IDAHO', 'KRAINIHA', 2, 'EwpGrp1', 1)
('BOISE', '367', '84 LUMBER COMPANY', 'EIGFOLEF', 1087, 'EwpGrp1', 5)
('BOISE', '00008727', 'MOUNTAIN WEST BUILDING SUPPLY', 'MOUWEBEM', 1, 'EwpGrp1', 11)
('BOISE', '92', 'AC HOUSTON LUMBER C0MPANY', 'ACHOLLV', 2, 'EwpGrp1', 6)
('BOISE', '632', 'DO IT BEST CORPORATION', 'DOITBFW', 364, 'EwpGrp1', 15)
('BOISE', '3989', 'LUMBERMENS MERCHANDISING', 'LUMMEWA', 1306, 'EwpGrp1', 9)
('BOISE', '00014120', 'KRAMERICA INDUSTRIES OF IDAHO', 'KRAINIHA', 1, 'EwpGrp1', 2)

In [79]:
# import pyodbc

# from sqlalchemy import create_engine

# def creator():
#     config = {
#             'driver': 'SQL Server',
#             'host': 'bdsql2016Prod',
#             'user': 'Groupie01',
#             'pw': 'Groupie2024!',
#             'dbname': 'PriceGroup',
#             'Trusted_Connection':'yes'
#         }
   
#     return pyodbc.connect(
#         "DRIVER={{{driver}}};SERVER={host};DATABASE={dbname};UID={user};PWD={pw};Trusted_Connection={tc}".format(
#             driver=config['driver'],
#             host=config['host'],
#             port=config.get('port',1433),
#             dbname=config['dbname'],
#             user=config['user'],
#             pw=config['pw'],
#             tc=config['Trusted_Connection']
#         )
#     )

# # works
# odbc_conn = creator()

In [ ]:
import 
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                      "Server=bdsql2016Prod;"
                      "Database=db_name;"
                      "Trusted_Connection=yes;")